* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***********************************************
TAG
***********************************************/
body{
    font-family: 'Montserrat', sans-serif;
}

/***********************************************
ID
***********************************************/

/***********************************************
CLASSI
***********************************************/