* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***********************************************
DEBUG
***********************************************/
.debug .main__container, 
.debug .sidebar__container, 
.debug .content__container,
.debug .bar__container{
    border: 1px solid red;
}

.debug .album__container,
.debug .player__container,
.debug .options__container{
    border: 1px solid blue;
}

.debug .cta__upgrade,
.debug .link__navigation{
    border: 1px solid green;
}

.debug .single__album{
    border: 1px solid yellow;
}

.debug .sidebar__navigation,
.debug .playlist__container,
.debug .user__container{
    border: 1px solid orange;
}

/***********************************************
TAG
***********************************************/
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
}
a{
    text-decoration: none;
}

/***********************************************
ID
***********************************************/

/***********************************************
CLASSI
***********************************************/

/* Main Container */
.main__container{
    height: calc(100vh - 100px);
    display: flex;
    overflow: hidden;
}

/* Sidebar */

/* Logo e link */
.sidebar__container{
    background-color: #000000;
    display: flex;
    flex-direction: column;
}
.sidebar__container ul{
    list-style: none;;
}
.sidebar__navigation,
.user__container{
    flex-grow: 0;
}
.playlist__container{
    flex-grow: 1;
}
.sidebar__navigation li{
    padding: 5px 0;
}
.sidebar__navigation li img{
    height: 30px;
    fill: #878787;
    vertical-align: middle;
    display: inline-block;
}
.sidebar__navigation li a{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    color: #878787;
    font-weight: 400;
}

/* Crea playlist */
.playlist__container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.playlist__container .title__container,
.playlist__container .add__playlist{
    flex-grow: 0;
}
.playlist__container .playlist_list{
    flex-grow: 1;
}
.playlist__container .title__container,
.playlist__container .add__playlist{
    padding-bottom: 20px;
}
.playlist__container .add__playlist a,
.playlist__container .add__playlist a:hover,
.playlist__container .add__playlist a:focus{
    color: #878787;
    display: inline-block;
}
.playlist__container .add__playlist i{
    background-color: #878787;
    padding: 10px;
    color: #000;
    font-size:21px;
}
.playlist__container .playlist_list{
    overflow-y: scroll;
}
.playlist__container .playlist_list a{
    padding: 10px 0;
    display: block;
}
.playlist__container .playlist_list a,
.playlist__container .playlist_list a:hover,
.playlist__container .playlist_list a:focus{
    color: #878787;
}
.playlist__container .add__playlist span{
    padding-left: 10px;
    line-height: 41px;
    display: inline-block;
}


/* Info utente */
.user__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.user__container hr{
    margin: 10px 0;
}
.user__container > .download__app img{
    height: 15px;
    vertical-align: middle;
}
.user__container > .download__app span{
    vertical-align: middle;
    font-size: 13px;
}
.user__container > .user img{
    height: 30px;
    vertical-align: middle;
    background-color: #808080;
    border-radius: 50%;
}
.user__container > .user span{
    vertical-align: middle;
    line-height: 30px;
    padding-left: 10px;
}

/* Content Container */
.content__container{
     flex-grow: 1;
     background-color: #141922;
}
.content__container .cta__upgrade{
    padding: 30px;
    background-color: rgba(0,0,0,.5);
    height: 79px;
}
.content__container .inner__content__container{
    height: calc(100vh - 79px - 100px);
    overflow-y: scroll;
}
.content__container .link__navigation{
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
.content__container .link__navigation a,
.content__container .link__navigation a:hover,
.content__container .link__navigation a:focus{
    color: #878787;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}
.section__album{
    padding: 20px;
}
.section__album h1{
    padding-bottom: 12px;
}
.section__album p{
    color: #878787;
    font-weight: bold;
    padding-bottom: 24px;
}
.section__album .container__album{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 0;
    margin-right: -15px;
}
.section__album .single__album {
    flex-shrink: 1;
}
.section__album .single__album .image__album img{
    max-width: 100%;
}
.section__album .single__album h3{
    padding: 10px;
}
.section__album .single__album h4{
    font-size: 14px;
    color: #878787;
}
.section__album .single__album .border__radius{
    border-radius: 50%;
}

/* Barra Player */

.bar__container{
    background-color: #282828;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
}
.bar__container .album__container{
    padding: 0 20px;
    display: flex;
    align-items: center;
}

/* Copertina Album */
.bar__container .album__container .image__album img{
    max-height: 70px;
}

.bar__container .album__container .title__album{
    padding: 0 5px;
}

/* Barra e Pulsanti  */
.bar__container .player__container .btn__player{
    text-align: center;
}
.bar__container .player__container .btn__player i{
    padding: 0 10px;
}

/* Comandi volume */
.bar__container .options__container i{
    padding: 0 5px;
}

.album__container,
.options__container{
    flex-grow: 1;
}
.player__container{
    flex-grow: 2;
}


/* Classi Utilities */
.btn{
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 13px;
}
.btn--white{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.text-uppercase{
    text-transform: uppercase;
}

/***********************************************
MEDIAQUERY

X-Small:            <576px
Small:              ≥576px
Medium:             ≥768px
Large:              ≥992px
Extra large:        ≥1200px
Extra extra large:  ≥1400px

***********************************************/

/* X-Small */
@media screen and (max-width: 575px) {
   
    .sidebar__container{
        width: 80px;
        padding: 0 5px;
    }
    .sidebar__navigation ul{
        padding: 10px 0;
    }
    .sidebar__navigation .logo{
        height: 30px;
    }
    .section__album .single__album{
        width: calc(100% / 2 - 15px);
    }

    /* Barra Player */
    .user__container > .download__app{
        text-align: center;
    }

    /* General */
    .hidden-xs{
        display: none;
    }

}

/* Small */
@media screen and (min-width: 576px) {
    
    .sidebar__container{
        width: 240px;
        padding: 0 20px;
    }
    .sidebar__navigation ul{
        padding: 20px 0;
    }
    .sidebar__navigation .logo{
        height: 40px;
        margin-top: 20px;
    }

    /* Barra Player */
    .section__album .single__album{
        width: calc(100% / 2 - 15px);
    }

    /* General */
    .hidden-sm{
        display: none;
    }

}

/* Medium */
@media screen and (min-width: 768px) {
    
    

    /* Barra Player */
    .section__album .single__album{
        width: calc(100% / 4 - 15px);
    }


}

/* Large */
@media screen and (min-width: 992px) {



    /* Barra Player */
    .section__album .single__album{
        width: calc(100% / 6 - 15px);
    }
    
}

